fastapi==0.115.12
uvicorn[standard]==0.34.2
sqlmodel==0.0.24
psycopg[binary]==3.2.9
python-jose==3.4.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.20
boto3==1.35.90
pydantic-settings==2.7.1
cryptography==44.0.2
fpdf2==2.7.9

